<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="false" use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint" authentication-manager-ref="authManager">
		<custom-filter position="FORM_LOGIN_FILTER" ref="customAuthenticationFilter" /> 
		<logout logout-success-url="/login.html" logout-url="/logout" delete-cookies="JSESSIONID"/>
		<intercept-url pattern="/user/*.html" access="isAuthenticated()" />
		<intercept-url pattern="/admin/*.html" access="hasRole('ROLE_ADMIN')"/> 
		<!-- Prevents CSRF attacs [Cross Site Request Forgery] -->
		<csrf /> 
	</http>

	<beans:bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login.html"/>
	</beans:bean>

	<authentication-manager id="authManager">
		  <authentication-provider>
		  		<jdbc-user-service id="userService" data-source-ref="dataSource"
					   users-by-username-query="SELECT USERNAME, PASSWORD, ENABLED FROM USERS WHERE USERNAME=?"
					   authorities-by-username-query="SELECT USERNAME, ROLE FROM USERS WHERE USERNAME=?"/>		
		  </authentication-provider>
	</authentication-manager>

	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/fitness-club" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />
	</beans:bean>	
	
	<beans:bean id="customAuthenticationFilter"	 class="com.fclub.spring.security.custom.filter.FClubAuthenticationProcessingFilter">
		<beans:property name="authenticationManager" ref="authManager" />
		<beans:property name="authenticationFailureHandler">
	        <beans:bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
	            <beans:property name="defaultFailureUrl" value="/registration.html"/>       
	        </beans:bean>
    	</beans:property>
	</beans:bean>
		
</beans:beans>
