body {
	margin: 0;
    padding: 0;
	font-weight: bold;
	font-style: italic;
	background-image : url(../images/1.jpg);
}

.loginForm {
	float: right;
	margin-right: 100px;
	margin-top: 70px;
}

.mainGreeting{
	margin-left: 30%;
	font-size: 16pt;
	color: #191970;
}

.workTime{
	margin-left: 25%;
    font-size: 14pt;
	color: #191970;
}

.emptyGroup{
	font-size: 14pt;
	color: #191970;
}

input.login {
	margin-top: 5px;
	display: block;
}

.localeMenu {
	float: center;
	text-align: center;
}

TABLE.main {
	border-collapse: collapse;	
	width: 1100px;
	margin-bottom: 17px;
	float: center;
}

TABLE.rightTable {
	float: right;		
}

TH,TD {
	border: 1px solid #0000cc;
	text-align: center;
	padding: 4px;
}

TH {
	background: #fc0;
	height: 40px;
	vertical-align: bottom;
	padding: 0;
}

TD {
	background: #fff;
}

.peoplebtn {
	background: #fc0;
	font-size: 10pt;
	font-weight: bold;
}

#secondTablePerPage{
	margin-top :7px;
	margin-bottom: 7px;
}

p.orderQuest{
	margin-left: 20%;
    font-size: 18pt;
    color : #191970;
}

textarea{
	float: right;
	width: 400px;
	height: 100px;
	background-color: #fc0; 
	font-size:17px;
	display: inline;
	text-align: left;
    white-space: normal;
    vertical-align:middle;	
    margin-bottom : 15px;
}

blockquote{
	color : #A80000;
}

.orderBtn{
	float:center;	
	display: block;
}

.radioLine{
	margin-left: 35%;
	display: block;
	clear: both;
	color: #A80000;
	width: auto;
}

h1{
	color:red;
}

.radioBtn{
	margin-left: 35%;
}



