.orderBody{
	background-image : url(../images/trainingBG.jpg);
	background-size:92%;	
}
/*---------------------------Login Form------------------------------*/
#wrapper {	
	padding: 70px 0 0 0px;
	width: 300px;
	margin:auto; /* = размер отступов будет автоматически рассчитан браузером.*/
	position: relative; /*Положение элемента устанавливается относительно его исходного места.*/
	float: right;
	margin-right : 70px;
}

#wrappertop {
	background:url(../images/wrapper_top.png) no-repeat;
	height:22px;
}

#wrappermiddle {
	background:url(../images/wrapper_middle.png) ; /*repeat-y; Фоновый рисунок повторяется только по вертикали. Аналогично no-repeat repeat.*/
	height:270px;
}

#wrapperbottom {
	background:url(../images/wrapper_bottom.png) no-repeat;
	height:22px;
}

#wrapper h2 {
	margin-left:20px;
	margin-top : 10px;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	text-shadow: #fff 2px 2px 2px; /*<сдвиг по x> <сдвиг по y> <радиус размытия>*/
}

#username_input {
	margin-left:25px;
	position:absolute; /*Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице
	 словно абсолютно позиционированного элемента и нет. */
	width:300;
	height:50px;
	margin-top:40px;
}

#username_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#username_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) ; /*repeat-x;*/
	width:250px;
	height:50px;
}

#username_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

#password_input {
	position:absolute;
	margin-left:25px;
	top : 100px;
	width:300;
	height:50px;
	margin-top:70px;
}

#password_inputleft {
	float:left;
	background:url(../images/input_left.png) no-repeat;
	width:12px;
	height:50px;
}

#password_inputmiddle {
	float:left;
	background:url(../images/input_middle.png) repeat-x;
	width:250px;
	height:50px;
}

#password_inputright {
	float:left;
	background:url(../images/input_right.png) no-repeat;
	width:12px;
	height:50px;
}

#checkbox_input{
	position:absolute;
	top : 65px;
	height:30px;
}

#url_password {
	display:block; /*Элемент показывается как блочный - происходит перенос строк в начале и в конце содержимого.*/
	position:absolute;
	margin-top:-28px;
	float:left;
	margin-left:4px;
}

#url{
	display:block;
	width:276px;
	height:45px;
	background:transparent; /*Устанавливает прозрачный фон.*/
	border:0;
	color:#bdbdbd;
	font-family:helvetica, sans-serif;
	font-size:14px;
	padding-left:20px;
}

#url_user {
	position:absolute;
	display:block;
	margin-top:-28px;
	float:left;
	padding-right:10px;
}

#gobutton {
	margin-top: 50px;
	margin-left: 0px;
	width: 250px;
	height: 40px;
	float: left;
	position: relative;
	cursor: pointer;
	/*forces the cursor to change to a hand when the button is hovered*/
	padding: 5px 25px; /*add some padding to the inside of the button*/
	border: 1px solid #33842a;
	/*required or the default border for the browser will appear*/
	background: #35b128; /*the colour of the button*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	/*style the text*/
	color: #f3f3f3;
	font-size: 1.1em;
}

#gobutton:hover, input#gobutton:focus{
background-color :#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}
/*--------Messages-------------------*/
.mainGreeting{
	margin-left: 15%;
	font-size: 16pt;
	font-weight: bold;
}

.workTime{
	margin-left: 15%;
    font-size: 14pt;
	font-weight: bold;
	font-style : italic;
}

.emptyGroup{
	font-size: 14pt;
	font-weight: bold;
	margin-top : 10px;
	
}

TABLE.main {
	margin-top : 7%;
	border-collapse: collapse;	
	width: 100%;
	float: center;
	margin-bottom : 20px;
}

TABLE.rightTable {
	float: right;
	margin-top : 20%;
}

TH,TD {
	border: 1px solid #0000cc;
	text-align: center;
	padding: 4px;
}

TH {
	background: #fc0;
	height: 40px;
	vertical-align: bottom;
	padding: 0;
}

TD {
	background: #fff;
}

.peoplebtn {
	background: #fc0;
	font-size: 10pt;
	font-weight: bold;
}

#secondTablePerPage{
	margin-top :7px;
	margin-bottom: 7px;
}



p.orderQuest{
	margin-left: 20%;
    font-size: 18pt;
    font-weight: bold;
}

textarea{
	float: right;
	width: 300px;
	height: 100px;
	background-color: #fc0; 
	font-size:17px;
	display: inline;
	text-align: left;
    white-space: normal;
    vertical-align:middle;	
    margin-left: 20px;
    margin-top : 30px;
}

blockquote{
	margin-top : 15%;
}

.orderBtn{
	float:center;	
	display: block;
}

.radioLine{
	margin-left: 35%;
	display: block;
	clear: both;
	width: auto;
	font-weight: bold;
}

.radioBtn{
	margin-left: 35%;	
}

caption{
	font-weight: bold;
	font-style : italic;
}
/*-----------------Sign Up Button ---------------------*/
.signupbtn{
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;	
	display:inline-block;
	cursor:pointer; /*курсор в виде руки*/
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	margin-left : 80px;
	margin-top:20px;
}

.signupbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.signupbtn:active {
	position:relative;
	top:1px;
}

#AllGroups, #userGroups, #AllUsers {
	margin-left:30px;	
}
