/*http://codepen.io/shree33/pen/HeiBC*/
.main > div {
  display: inline-block; /*встроенный элемент*/
  width: 80%;
  margin-top: 10px;
}

.register {
  	width: 500px;
  	margin: 10px auto; /*Устанавливает величину отступа от каждого края элемента. 
  						Отступом является пространство от границы текущего элемента до внутренней границы его родительского элемента*/
  	padding: 10px; /*Устанавливает значение полей вокруг содержимого элемента. 
  					Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, 
  					ограничивающего его содержимое*/
  	border: 7px solid ; /*solid - сплошной*/
  	border-radius: 10px; /*загругление для тени*/
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
  	box-shadow: 0 0 20px 0 #000000;
  	
	div{
		margin: 0 0 0px 0;
	  	border : none;
	}

}

label {
	display: inline-block;
	width: 25%;
	text-align: right;
	margin: 10px 		/*Отступы будут установлены одновременно от каждого края элемента.*/
}

.required:after {
	content: " *";
	color: #e32;
	position: absolute;
	margin: 0px 0px 0px -20px;
	font-size: xx-large;
	padding: 0 5px 0 0;
}

input[type=text],input[type=password] {
	width: 65%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
	padding: 5px;
	font-size: 0.9em;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5); /*4 параметр - интенсивность*/
	
}

input[type=text]:focus,input[type=password]:focus {
	background: #FFFFFF;
}


h3 {
	margin: 0 15px 20px;
	border-bottom: 2px solid;
	padding: 5px 10px 5px 0;
	font-size: 1.3em; /*em - относительно размера текущего шрифта*/
}

.button {
  		font-size: 1em;
  		border-radius: 8px;
  		padding: 10px;
  		border: 1px solid #DF7401;
  		box-shadow: 0 1px 0 0 #8A4B08 inset; /*Inset - тень выводится внутри элемента. Необязательный параметр.*/
}

.sep {
	border: 1px solid;
	position: relative;
	margin: 35px 20px; /*top and bottom 35px, right and left 20px*/
}